body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px; /* No space between canvases */
}

canvas {
    background-color: blanchedalmond;
    border: 5px solid black;
    display: block;
}

#canvas1 {
    width: 800px;
    height: 800px;
}

#canvas2, #canvas3 {
    width: 200px;
    height: 800px;
}

#play-again {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 12px 24px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    z-index: 999;
}


#play-again:hover {
  background-color: #007acc;
}

