body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px; /* No space between canvases */
}

canvas {
    background-color: blanchedalmond;
    border: 5px solid black;
    display: block;
}

#canvas1 {
    width: 800px;
    height: 800px;
}

#canvas2, #canvas3 {
    width: 200px;
    height: 800px;
}
